//страница контактов

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//конструкция для перевода пикселей в rem
$fz: 16px;

@function rem($size) {
  $remSize: $size / $fz;
  @return $remSize * 1rem;
}

$colorMain: #000;
$colorCatalog: #555D61;
$colorOrange: #f76500;
$colorWhite: #fff;
$colorGreyText: #858585;

.main-cat {
  margin-top: 30px;
}

.contacts__social-title {
  display: block;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 19px;
}

.contacts__info-big {
  display: block;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $colorMain;
  text-decoration: none;
}

.contacts__info-small {
  display: block;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 16px;
  color: $colorGreyText;
  text-decoration: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__map {
    margin: 0px 35px 0px 0px;
    padding: 0px 0px 30px 0px;
    overflow: hidden;
  }

  &__map-head {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: $colorMain;
  }
}