@import url(slider.css);
@import url(header.css);
@import url(contacts.css);
@import url(navbar.css);
@import url(footer.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  margin: 0;
  font-family: "Roboto";
  background-color: #f6f6f6;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
}
.main__sidebar {
  width: 23%;
}
.main__body {
  width: 77%;
  padding: 0px 0px 0px 0px;
}
.main__catalog {
  display: flex;
  flex-direction: column;
  width: 98%;
  padding: 15px 0px 25px 0px;
  gap: 15px;
}

.banner-item__container {
  position: relative;
  margin: 30px 0px 30px 0px;
  padding: 0px 0px 0px 3.125rem;
}
.banner-item__container-img {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__catalog-wrapper {
  margin: 0px 0px 20px 50px;
  padding: 10px 0px 0px 30px;
  background-color: #fff;
}

.main__catalog-wrapper h2 {
  padding-left: 17px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}

.main__about-wrapper {
  margin: 0px 0px 20px 50px;
  padding: 10px 0px 0px 30px;
  background-color: #fff;
}

.main__about-wrapper h2 {
  padding-right: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}

.about__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 30px;
}

.about__item {
  width: 50%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.about__item-text {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.about-item__container {
  width: 42%;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}
.about-item__container_naer {
  padding-top: 7%;
}
.about-item__container_teejet {
  width: 60%;
  padding-top: 4%;
}
.about-item__container_fjd {
  width: 50%;
  padding-top: 6%;
  padding-right: 2%;
}
.about-item__container-img {
  max-width: 100%;
  max-height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main__company-wrapper {
  margin: 0px 0px 20px 50px;
  padding: 10px 0px 30px 30px;
  background-color: #fff;
}

.main__company-wrapper h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}

.company-wrapper__item {
  display: flex;
  gap: 30px;
}

.company-wrapper__text-head {
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: #000;
}

.company-wrapper__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.company-wrapper {
  display: flex;
  margin-top: 30px;
  gap: 80px;
}

@media (min-width: 993px) and (max-width: 1268px) {
  .main__container {
    padding: 0px 45px 0px 48px;
  }
}
@media (min-width: 320px) and (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .main__body {
    width: 95%;
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner-item__container {
    padding-left: 1.125rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__catalog-wrapper {
    margin-left: 18px;
    padding-left: 7px;
  }
  .main__about-wrapper {
    margin-left: 18px;
    padding-left: 15px;
  }
  .main__company-wrapper {
    margin-left: 18px;
  }
  .sidebar {
    display: none;
  }
  .list__item {
    margin: 8px 13px 0px 14px;
  }
  .about-item__container, .about-item__container_naer, .about-item__container_teejet, .about-item__container_fjd {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 992px) {
  .company-wrapper {
    flex-direction: column;
    gap: 24px;
  }
  .about__item {
    width: 90%;
  }
  .about-item__container {
    align-self: center;
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .about-factory {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */